<div class="card l">
    <h1>Pipes texto</h1>
    <hr>
    <table>
      <tr>
        <th>Pipe</th>
        <th>Valor sin pipe</th>
        <th>Valor con pipe</th>
      </tr>
      <tr>
        <td>Uppercase</td>
        <td>{{texto}}</td>
        <td>{{texto | uppercase}}</td>
      </tr>
      <tr>
        <td>Lowercase</td>
        <td>{{texto}}</td>
        <td>{{texto | lowercase}}</td>
      </tr>
      <tr>
        <td>Titlecase</td>
        <td>{{texto}}</td>
        <td>{{texto | titlecase}}</td>
      </tr>
    </table>
    <h1>Pipe slice</h1>
    <hr>
    <table>
      <tr>
        <th>Pipe</th>
        <th>Valor sin pipe</th>
        <th>Valor con pipe</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
</div>